extends layout

block content
	.container
		.row
			.col-lg-4.col-lg-offset-2
				h2.text-center General
				table.table.table-striped.table-hover
					tbody
						tr
							td Total games played
							td #{viewModel.totalGamesPlayed || 0}
						tr
							td Unique players
							td #{viewModel.uniquePlayers || 0}
			.col-lg-4
				h2.text-center Top players
				table.table.table-striped.table-hover
					tbody
						each player in viewModel.topPlayers
							tr
								td #{player.name}
								td #{player.score}
